.main {
  grid-column-start: 1;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 35px;
}

.header_title {
  font: var(--title-text);
  color: var(--accent-color);
}

.header_ornament {
  background-image: url("../images/ornament.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 20px;
}

/* .popover__open-btn {
  display: flex;
  width: 250px;
  border-color: #241D1D;
  border-width: 3px;
  border-radius: 35px;
  border-style: outset;
  font-family: "Monomakh", sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #773737;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  justify-self: center;
} */