@font-face {
  font-family: "SancreekRegular";
  src: url(./Sancreek-Regular.ttf);
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "Monomakh";
  src: url(./Monomakh-Regular.ttf);
  unicode-range: U+0400-04FF;
}